html{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    margin: 0;
}
header > h1{
    margin: 0;
    padding: 0.8rem 0rem 0.8rem 9.7rem;
}
.cor-padrao{
    background-color: #02A28F;
    color: #ffffff;
}
/************************************************/
.image-container {
    position: relative;
    margin:3.1rem 0 0 9.75rem;
}
.image-container img{
    border-radius: 0.625rem;
}
.text-img {
    position: absolute;
    top: 19rem;
    left: 0;
    z-index: 1;
    color: white;
}
.text-img >h1{
    margin: 0 0 0 1rem;
}
.text-img >p{
    margin: 0 0 0 1rem;
    font-weight: 300;
}
.presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}
/************************************************/
.posts-populares {
    position: absolute;
    top: 7.1rem;
    left: 57.7rem;
    bottom: 20rem;
    width: 27.9rem;
}
.posts-populares >h1 {
    white-space: nowrap;
    margin: 0;
    font-size:1.25rem ;
    padding: 0.75rem 14.5rem 0.75rem 1.5rem;
    border-radius: 10px;
}
.posts-item{
    margin: 0.9rem 0 0 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.txt-posts{
    padding: 0.81rem 0 0 0.75rem;
    vertical-align: top;
    width: 100%;
}
.posts-item img{
    margin: 0.81rem 0 0.6rem 0.75rem;
}
/************************************************/
.container-flex{
    display: flex;
    justify-content: flex-start;
}
.h1-posts{
    width: 45.0rem;
    white-space: nowrap;
    margin: 1.5rem 0 0 9.5rem;
    font-size: 1.25rem;
    padding: 0.75rem 0 0.75rem 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1-posts > p {
    font-weight: 500;
    margin: 0 1.5rem 0 0;
    font-size: 0.8rem;
    text-decoration: underline;
}
.grid-itens{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 9.5rem;
    width: 48rem;
}
.recentes-item{
    width: 22.5rem;
    margin: 0.9rem 0 0 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.texto-recentes{
    margin: 1rem;
}
.texto-recentes > p{
    font-size: 0.8rem;
}
.texto-recentes > h2{
    font-size: 1.25rem;
}
.texto-recentes p:nth-of-type(1) {
    color: rgba(2, 162, 143, 1);

}
/************************************************/
.categorias{
    display: flex;
    flex-direction: column;
}
.categorias >h1{
    padding: 0 0 0 1.5rem;
    margin: 1.5rem 0 0 0;
    width: 26.474375rem;
    height: 3.0275rem;
    white-space: nowrap;
    font-size: 1.25rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.texto-categorias p{
    display: flex;
    justify-content: space-between;
    margin: 0.875rem 0 0.875rem 0;
}
/************************************************/
footer{
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    margin: 4rem 0 0 0;
}
/************************************************/

@media only screen and (max-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }

    .posts-populares {
        order: 2;

    }

    .container-flex {
        order: 1;
        display: flex;
        flex-direction: column;
    }

    footer {
        order: 3;
    }

    .grid-itens {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0;
        width: 100%; 
    }
}